<main>
    <section class="section-budget-form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 pl-lg-0">
                    <div class="card card-category">
                        <div class="categry-new mt 3">
                            <h2 class="heading-new-category">Edit Budget</h2>
                            <div class="form-group">
                              <%= form_for(@budget) do |f| %>
                                <%= f.label :name, { class: "control-label col-sm-3" }%>
                                <div class="col-sm-10">
                                  <%= f.text_field :name, :class => "form-control", :placeholder => "Edit Budget Name " %> </br>
                                </div>
                                
                                <%= f.label :period, { class: "control-label col-sm-3"} %>
                                <div class="col-sm-10">
                                    <%= f.date_field :period, :class => "form-control", :value => Time.now.beginning_of_month.strftime('%Y-%m-%d') %>
                                </div>

                                <%= f.fields_for :budget_categories do |builder| %>
                                    <div class="builder"
                                        <%= builder.label :category_id, "Category", { class: "control-label col-sm-3"} %> 
                                        <div class="col-sm-10">
                                            <%= builder.text_field :category_id %>
                                        </div>

                                        <%= builder.label :amount, "Budget Plan", { class: "control-label col-sm-3"} %> 
                                        <div class="col-sm-10">
                                            <%= builder.text_field :amount %> 
                                        </div>

                                        <%= builder.hidden_field :_destroy %>
                                        <%= link_to_function "remove", remove_fields(this) %>
                                        </br>
                                    </div>
                                <% end %>
                                
                                <%= f.submit "Save" , { class: "btn btn-save-account mb-2 px-4" } %>
                              <% end %>     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>