<!-- Main -->
<main>
    <section class="section-expense-cat" id="index">
        <div class="container">
            <div class="row">
                <div class="col text-left section-index-title-cat">
                    <h2>Budgeting</h2>
                </div>
                  <div class="col text-right">
                    <button class="btn btn-add-new-expense" id="button-cancel-edit-budget-amount">
                        Cancel
                    </button>

                    <button class="btn btn-add-new-expense" id="button-save-budget-amount">
                        Save
                    </button>

                    <button class="btn btn-add-new-expense" id="button-edit-budget-amount">
                        Edit
                    </button>
                </div>
            </div>
            <div class="index-list col-lg-12 pl-lg-12 align-center">
                <table class="table table-responsive-sm text-center table-light table-striped" >
                    <thead>
                        <tr class="align-left">
                            <th>Budget Name</th>
                            <th>Expense Budgeting </br> <%= Date.today.beginning_of_month.strftime("%d %b %Y") %> - <%= Date.today.end_of_month.strftime("%d %b %Y") %></th>
                            <th>This Month Expense </br> <%= Date.today.beginning_of_month.strftime("%d %b %Y") %> - <%= Date.today.end_of_month.strftime("%d %b %Y") %></th>
                            <th>Last Month Expense </br> <%= Date.today.last_month.beginning_of_month.strftime("%d %b %Y") %> - <%= Date.today.last_month.end_of_month.strftime("%d %b %Y") %></th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @categories.each do |category| %>
                            <tr class= "align-left">
                                <td><%= category.name %></td>
                                <td>
                                    <% budget_category = @budget_categories.where(category_id: category.id, created_at: Date.today.beginning_of_month..Date.today.end_of_month).first.amount %>
                                    <span class="budget-amount-text"><%= budget_category %></span>
                                    <input type="text" value="<%= budget_category %>" class="budget-amount-input"/>
                                </td>
                                <td><%= sum_this_month_expense(category) %></td>
                                <td><%= sum_last_month_expense(category) %></td>
                            </tr>
                           
                        <%end%>
                        <tr class ="align-left">
                            <th>Jumlah Total</th>
                            <th><%= total_sum_expense_budgeting %></th>
                            <th><%= total_sum_this_month_expense %></th>
                            <th><%= total_sum_last_month_expense %></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

      
        
    </section>
</main>
