<!-- Main -->
<main>
    <section class="section-expense-form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 pl-lg-0">
                    <div class="card card-expense">
                        <div class="expense-new mt 3">
                            <h2 class="heading-new-expense">Create New Expense</h2>
                                <div class="form-group">
                                    <%= form_for(@expense) do |f| %>
                                        <%= f.label :name, { class: "control-label col-sm-3"} %>
                                        <div class="col-sm-10">
                                            <%= f.text_field :name, :class => "form-control", :placeholder => "Enter Name" %>
                                        </div>

                                        <%= f.label :category, { class: "control-label col-sm-3"} %>
                                        <div class="col-sm-10">
                                            <%= f.select :category_id, @categories.pluck(:name, :id), {prompt: "Select Category"}, { class: "form-control" } %>
                                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#addNewCategory">
                                                Add New Category
                                            </button>
                                        </div>

                                        <%= f.label :amount, { class: "control-label col-sm-3"} %>
                                        <div class="col-sm-10">
                                            <%= f.text_field :amount, :class => "form-control", :placeholder => "Enter Amount" %>
                                        </div>

                                        <%= f.label :date, { class: "control-label col-sm-3"} %>
                                        <div class="col-sm-10">
                                            <%= f.date_field :date, :class => "form-control", :value => Time.now.strftime('%Y-%m-%d') %>
                                        </div> </br>

                                        <%= f.submit "Save" , { class: "btn btn-save-account mb-2 px-4" } %>
                                    <% end %>
                                </div>

                                <!-- Modal -->
                                <div class="modal fade" id="addNewCategory" tabindex="-1" role="dialog" aria-labelledby="addNewCategoryTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="addNewCategoryTitle">Create New Category</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <%= form_for Category.new do |f| %>
                                                    <%= f.label :name, { class: "control-label col-sm-3" }%>
                                                    <div class="col-sm-10">
                                                        <%= f.text_field :name, :class => "form-control", :placeholder => "Enter Name" %> </br>
                                                    </div>
                                                    <%= f.submit "Cancel", :type => :reset, :class => "btn btn-secondary mb-2 px-4", "data-dismiss" => "modal", "aria-hidden" => "true" %>
                                                    <%= f.submit "Save", :class => "btn btn-save-account mb-2 px-4" %>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
