<h1>Expense Ke <%= @expense.id %></h1>
<p> Name : <%= @expense.name %></p>
<p> Amount :<%= @expense.amount %></p>
<p> Date :<%= @expense.date.strftime("%m/%d/%Y") %></p>
<p> Category :<%= @expense.category.name %></p>
