<!DOCTYPE html>
<html>
  <head>
    <title>HyunbinOpaa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h2><%= link_to "HYUN BIN EXPENSE MANAGER", root_path %></h2>
    </div>
    <div class="card">
      <div>
        <% if current_user %>
          Logged in as <%= current_user.username %> |
          <%= link_to "Logout", logout_path %> |
          <%= link_to "Create New Expense", new_expense_path %>
        <% else %>
          <%= link_to "Sign Up", signup_path %> |
          <%= link_to "Login", login_path %>
        <% end %>
      </div>
    </div>


    <p class="notice"><%= flash[:notice] %></p>
    <p class="alert"><%= flash[:alert] %></p>

    <%= yield %>

  </body>
</html>
