<!-- Main -->
<main>
    <section class="section-index-acc" id="index">
        <div class="container">
            <div class="row">
                <div class="col text-left section-index-title">
                    <h2>Account List</h2>
                </div>
            </div>
            <div class="index-list col-lg-6 pl-lg-0 align-center">
                <table class="table table-responsive-sm text-center table-light table-striped" id="account-table" >
                    <thead>
                        <tr class="text-left">
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                      <% @accounts.each do |account| %>
                        <tr>
                          <td class="text-left"><%= account.name %></td>
                          <td class="align-middle">
                              <%= link_to 'Edit', edit_account_path(account) %> |
                              <%= link_to 'Delete', account_path(account), method: :delete, data: {confirm: "Are you sure?"} %> 
                          </td>
                        </tr>
                      <%end%>
                    </tbody>
                </table>
                <%= paginate @accounts, params: { anchor: "account-table" }  %>
            </div>
        </div>

        <div class="container">
            <button type="submit" class="btn btn-add-new-expense">
                <%= link_to 'Add New Account', new_account_path %>
            </button>
        </div>
        
    </section>
</main>
